# docker-compose.yml

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: codeigniter_app
    volumes:
      - .:/var/www/html
    ports:
      - "8082:80"  # Alterado de 8080 para 8082
    depends_on:
      - db
    networks:
      - app_network
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: codeigniter_db
      DB_USERNAME: user
      DB_PASSWORD: password

  db:
    image: mysql:5.7
    container_name: codeigniter_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: codeigniter_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_HOST: "%"  # Permite que o root se conecte de qualquer lugar
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./script.sql:/docker-entrypoint-initdb.d/script.sql  # Adiciona o script SQL
    networks:
      - app_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: codeigniter_phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    depends_on:
      - db
    networks:
      - app_network

networks:
  app_network:

volumes:
  db_data:
